Agents_config/Main Agent.json
{
  "name": "Main Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=#Overview\nYou are the ultimate personal assistan. Your job is to send the user's query to the correct tool. You should never be doing SQL querys or reports or forecasting you just need to call the correct tool\n\n## Tool\n- Think: Use this to think deeply or if you get stuck\n- QueryAgent: Use this tool to request some data from the DB\n- DSAgent: Use this tool to make future projections or forecasts of the required metrics\n- ReportAgent: Use this tool to create a report or generate a file, or export information\nCalculator: Use this tool to perform any arithmetic operations\n\n## Rules\n- Some action require you look up data from DB first. For the following actions, you must get metrics mentionend by the user and send that to the agent who needs it:\n  - Make future projections\n  - Make forecasting\n  - Generate a file\n  - Generate a report\n\n## Instructions\n1) Call the neccessary tools based on the user request\n2) Use \"Think\" took to verify you took the right steps.This tool should be called every time.\n\n#Examples\n1)\n- Input: Tell me the impressions and clicks from the campaign Test2, Test3 and export as a csv file\n  - Action: Use QueryAgent to get the data from the DB. You will pass the tool a query like \"retrieve impressions and clicks from table campaign where the campaign_name is 'Test2' or 'Test3'\"\".\n  - Action: Use ReportAgent to generate the csv file. You will pass the tool a query like \"generate a csv file including all the data\": [data obtained from QueryAgent]\n- Output: The file has been generate, you can download here [csv file], Anything else I can help you with?\n2)\n- Input: Hi, I want to know the impressions, market_spent and clicks from campaign_id 348934, 127823, 9034945\n  - Action: Use QueryAgent to get the data from the DB. You will pass the tool a query like \"retrieve impressions,market_spent and clicks from table campaign where the campaign_id is in (348934, 127823, 9034945)\"\".\n- Output: Here is the data [data obtained from QueryAgent]"
        }
      },
      "id": "3ed625e1-f2e2-4bd7-80d6-bc93cb8963fb",
      "name": "Interprete",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        512,
        32
      ],
      "executeOnce": false,
      "typeVersion": 2,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "c08556d5-5ee2-4de6-9d41-06200d1813b1",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -144,
        304
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "FbGWDOcJQDTG65ug",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cb14ba2b-f490-4859-b67b-7542cedc21b0",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -16,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7f947517-71a7-4305-a02d-3e0aecfe6edd",
      "name": "MongoDB Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "position": [
        -384,
        144
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "id": "e8bcf04c-2e2f-4ec1-870e-be4998c56158",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -256,
        272
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "description": "Use the query from Interprete Agent",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "yfl5S85c30bcF2lo",
          "cachedResultName": "QueryAgent"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "97506b8f-d2e4-4a1d-af3e-9dc9281fa604",
      "name": "Query Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        432,
        288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "E4VoQuEg4dL6MEfb",
          "cachedResultName": "DS Agent"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "65b7ec7c-91db-4c72-9d72-d21fa383f0c3",
      "name": "DSAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        640,
        320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "11QbwSXdPaYHqIaz",
          "cachedResultName": "Report Agent"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "555f6438-ecc5-47c8-bc46-c08dbd993f82",
      "name": "ReportAgent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        832,
        368
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "95a6ae98-d2f2-4cbd-b871-4fc641a1737c",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7025f344-45e7-4f26-9776-f4301f90ffb6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        0,
        0
      ],
      "webhookId": "95a6ae98-d2f2-4cbd-b871-4fc641a1737c",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "dd825df1-329c-4b2a-aa68-a1e4377ad5b9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        992,
        32
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {},
      "id": "46770bd8-ab41-4942-83d2-8cfbafa747ef",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        128,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"reply\": {\n\t\t\t\"type\": \"string\",\n          \"description\": \"should contain the replay\"\n          \n\t\t}\n}\n}"
      },
      "id": "d3e87624-fab6-4928-bcd7-12cb5d188f3b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        992,
        320
      ],
      "typeVersion": 1.3
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Interprete",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DSAgent": {
      "ai_tool": [
        [
          {
            "node": "Interprete",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Interprete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Interprete",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Interprete": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Query Agent": {
      "ai_tool": [
        [
          {
            "node": "Interprete",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ReportAgent": {
      "ai_tool": [
        [
          {
            "node": "Interprete",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Interprete",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Interprete",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Interprete",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d187444-3479-481a-84c7-31a8d7f8201c",
  "meta": {
    "instanceId": "0cdaaba97fff3770bc807799009b9ec371cec597a19440a045c1c24bc862c3f6"
  },
  "id": "D5bH6r3rWy7sQz6r",
  "tags": []
}